<div class="grid gap-4 grid-cols-4">
<div class="w-72 h-48 bg-indigo-500 rounded-2xl flex items-center justify-center">
  <div class="flex flex-col items-center justify-center">
    <p>Tổng Số Người Dùng</p>
    <p>{{totalUser}}</p>
  </div>
</div>
<div class="w-72 h-48 bg-indigo-500 rounded-2xl flex items-center justify-center">
  <div class="flex flex-col items-center justify-center">
    <p>Tổng Danh Mục Sản Phẩm</p>
    <p>{{totalCatalog}}</p>
  </div>
</div>
<div class="w-72 h-48 bg-indigo-500 rounded-2xl flex items-center justify-center">
  <div class="flex flex-col items-center justify-center">
    <p>Tổng Số Sản Phẩm</p>
    <p>{{totalProduct}}</p>
  </div>
</div>
<div class="w-72 h-48 bg-indigo-500 rounded-2xl flex items-center justify-center">
  <div class="flex flex-col items-center justify-center">
    <p>Tổng Số Đơn Hàng</p>
    <p>{{totalOrder}}</p>
  </div>
</div>
<div class="w-72 h-48 bg-indigo-500 rounded-2xl flex items-center justify-center">
  <div class="flex flex-col items-center justify-center">
    <p>Tổng Số Đơn Hàng Bị Hủy</p>
    <p>{{totalOrderCancel}}</p>
  </div>
</div>
  <div class="w-72 h-48 bg-indigo-500 rounded-2xl flex items-center justify-center">
    <div class="flex flex-col items-center justify-center">
      <p>Tổng Số Đơn Hàng Đã Giao</p>
      <p>{{totalOrderComplete}}</p>
    </div>
  </div>
  <div class="w-72 h-48 bg-indigo-500 rounded-2xl flex items-center justify-center">
    <div class="flex flex-col items-center justify-center">
      <p>Tổng Số Doanh Thu</p>
      <p>{{convertNumber(totalMoney)}} VND </p>
    </div>
  </div>
</div>
